<div
  class="hero min-h-screen"
  style="background-image: url(https://cdn.britannica.com/27/238527-131-D73B3F08/flagpoles-world-countries.jpg);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Countries Info App</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button routerLink="/countries" class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>



