<section class="flex flex-row gap-2 mt-2 max-w-xl mx-auto justify-center">
  <div class="w-full h-[40px]"></div>
  <!-- to match search component's height -->
</section>

<h1 class="text-2xl">By Region</h1>
<h3 class="text-lg">Choose a region:</h3>

<section class="row mt-2 flex justify-center my-10">
  <div class="flex-col">
    @for (region of regions; track region) {
    <button
      class="btn mr-2 btn-outline w-[100px]"
      (click)="chosenRegion.set(region)"
      [class.btn-primary]="chosenRegion() === region"
    >
      {{ region }}
    </button>
    }
  </div>
</section>

<section class="mt-5">
  <app-countries-list
    [countries]="countryResource.value() ?? []"
    [errorMsg]="countryResource.error()"
    [isEmpty]="countryResource.value()?.length === 0"
    [isLoading]="countryResource.isLoading()"
  ></app-countries-list>
</section>
